body {
  margin: 0;
  padding: 2%;
  font-family: sans-serif;
}

.site-heading-container {
	display: block;
	margin-bottom: 5%; 
}

.site-title {
	font-family: 'Lobster', cursive;
	font-size: 65px; 
	font-weight: bold;
	text-align: center;  
}

.image-style {
	display: block;
	border: solid 5px black;
	float: right;
	margin-right: 5%; 
	margin-top: 5%; 
	box-shadow:0 0 2px rgba(0,0,0,0.8);   
}

.playerNames {
	display: inline;	
	font-size: 40px;
	font-weight: bold;
	color: white; 
	display: block; 
	padding: 10px;
}

.inputField {
	border: none;
	border: none;
	width: 16.8%;
	padding: 6px; 
	border-top: solid 3px white; 
	margin-left: 1.4%;
	margin-right: 3px;
	margin-bottom: 5px; 
	background-color: white; 
}

.add-btn {
	background-color: #f46161;  
    border: solid 1px #f46161; 
    color: white;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-right: 2px;
}

.view-btn {
	background-color: #f46161;  
    border: solid 1px #f46161; 
    color: white;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 1px;
    font-size: 15px;
}

.gen-btn {
	position: fixed;
    bottom: 10%;
    right: 18%;
	background-color: #f46161;  
    border: solid 1px #f46161; 
    color: white;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

.container1 {
	display: block;
	padding: 100px;
	width: 80.8%;
	margin-left: 5%;
	background-color: #66CCCC; 
}

.nameLi {
	margin-left: 5%;
	margin-top: 2.5%;
	font-weight: bold;
}